@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  background: hsl(0, 0%, 8%);
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  min-width: 21rem;
  min-height: 600px;
  border-radius: 8px;
  background: hsl(0, 0%, 12%);
  overflow: auto;
  position: relative;
}

.container > header {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: none;
}

.container > header > img {
  border-radius: 50%;
  width: 100%;
  height: 100px;
  margin-top: 40px;
}

.container > .headers {
  position: relative;
  width: 100%;
  height: 130px;
  top: 60px;
  background: none;
}

.container > .headers > h1 {
  display: grid;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
  background: none;
  color: hsl(0, 0%, 100%);
}
.container > .headers > p {
  display: grid;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 400;
  background: none;
  color: hsl(75, 94%, 57%);
  margin-top: 10px;
}

.container > .headers > p:last-of-type {
  font-size: 0.8rem;
  color: hsl(0, 6%, 67%);
  margin-top: 25px;
}

.btn-container {
  display: grid;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background: none;
  margin-top: 50px;
}
.btn-container > ul {
  list-style-type: none;
  width: 18.75rem;
  font-weight: 400;
  transition: all 0.3s ease;
  background: none;
}

.btn-container > ul > li {
  text-align: center;
  margin-bottom: 15px;
  transition: all 0.2s ease;}
  
  .btn-container > ul > li > a {
  border-radius: 8px;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 20%);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 15px 0;
 transition: all 0.2s ease;
}


.btn-container > ul > li > a:hover {
  background: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
}

@media screen and (max-width: 450px) {
  .container {
    margin: 0 20px;
  }
}
